<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="head-inclusions">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <script src="webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</div>
<div th:fragment="navigation">
    <div class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" th:classappend="${pageName == 'transactions' ? 'active' : ''}">
                        <a class="nav-link" th:href="@{/now}">Transactions</a>
                    </li>
                    <li class="nav-item" th:classappend="${pageName == 'budget' ? 'active' : ''}">
                        <a class="nav-link" th:href="@{/budget}">Budget</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Goals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Savings</a>
                    </li>
                    <li class="nav-item" th:classappend="${pageName == 'settings' ? 'active' : ''}">
                        <a class="nav-link" th:href="@{/settings}">Settings</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div th:fragment="table(rows, total, colorType)">
    <table class="table table-striped table-bordered">
        <thead>
        <tr th:class="${'table-'+colorType}">
            <td>Date</td>
            <td>Amount</td>
            <td>Category</td>
        </tr>
        </thead>

        <tbody>
        <tr th:each="row : ${rows}">
            <td th:text="${row.date}"></td>
            <td th:text="${row.value}"></td>
            <td th:text="${row.category.name}"></td>
        </tr>
        </tbody>

        <tfoot>
        <tr th:class="${'table-'+colorType}">
            <td>Total:</td>
            <td th:text="${total}"></td>
            <td></td>
        </tr>
        </tfoot>

    </table>
</div>
</html>