<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="head-inclusions">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="webjars/jquery/2.0.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</div>
<div th:fragment="navigation">
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li th:class="${pageName == 'transactions' ? 'active' : ''}">
                        <a th:href="@{/now}">Transactions</a>
                    </li>
                    <li class="disabled">
                        <a href="#">Budget</a>
                    </li>
                    <li class="disabled">
                        <a href="#">Goals</a>
                    </li>
                    <li class="disabled">
                        <a href="#">Savings</a>
                    </li>
                    <li th:class="${pageName == 'settings' ? 'active' : ''}">
                        <a th:href="@{/settings}">Settings</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div th:fragment="table(rows, total, colorType)">
    <table class="table table-striped">
        <thead>
        <tr th:class="${colorType}">
            <td>Date</td>
            <td>Amount</td>
            <td>Category</td>
        </tr>
        </thead>

        <tbody>
        <tr th:each="row : ${rows}">
            <td th:text="${row.date}"></td>
            <td th:text="${row.value}"></td>
            <td th:text="${row.category.name}"></td>
        </tr>
        </tbody>

        <tfoot>
        <tr th:class="${colorType}">
            <td>Total:</td>
            <td th:text="${total}"></td>
            <td></td>
        </tr>
        </tfoot>

    </table>
</div>
</html>