<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Transactions</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <script src="webjars/jquery/2.0.3/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div th:replace="fragments :: navigation"></div>
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <div class="panel panel-default">
                    <form class="form-inline" th:action="@{/add}" th:object="${transactionRequest}" method="get">
                        <div th:if="${#fields.hasErrors('value')}">errors</div>
                        <div class="panel-heading">
                            <h3 class="panel-title">Add finance transaction</h3>
                        </div>
                        <div class="panel-body">
                            <select class="form-control" th:name="transactionType" th:field="*{type}">
                                <option th:each="c : ${T(com.twelveweeks.domain.enums.TransactionType).values()}"
                                        th:value="${c}" th:text="${c.name()}"></option>

                            </select>

                            <input class="form-control" placeholder="amount" th:name="value" th:field="*{value}"/>
                            <span th:if="${#fields.hasErrors('value')}" th:errors="*{value}" class="text-danger help-block" ></span>
                            <select class="form-control" th:name="category" th:field="*{category}">
                                <option th:each="c : ${categories}"
                                        th:value="${c.getName()}" th:text="${c.getName()}"></option>
                            </select>
                        </div>
                        <div class="panel-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" th:type="submit">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <h3>Expenses</h3>
        <div th:replace="fragments :: table(${expenseRows}, ${expenseTotal}, 'danger')"></div>
        <h3>Incomes</h3>
        <div th:replace="fragments :: table(${incomeRows}, ${incomeTotal}, 'success')"></div>

    </body>
</html>